.logo {
    height: 179px;
    width: 334px;
    padding:22.5px 0px 0px 10px;
    margin-right: auto;
    margin-left: auto;
    display: block;
}

header {
    background-color: lightgrey;
}

.nav {
    display: block;
    position: static;
}

nav ul {
    padding: 0px;
 }

nav li {
    display: block;
}

a {
    text-decoration:none;
    color: black;
    padding: 10px;
    font-size: 30px;
}

body {
    font-family: "Avenir", Verdana, Geneva, Tahoma, sans-serif;
    min-height: 100vh;
    margin: 0px;
    display: grid;
    grid-template-rows: auto 1fr auto;
    text-align: center;
}

/* Home */

.welcome_image {
    border-radius: 5px;
    width: 80%;
}


.about-us {
    border-radius: 5px;
    width: 80%;
}

/* Products */

.products-list {
    display: grid;
    grid-template-columns: repeat(2, minmax(0,1fr));
    grid-gap: 20px;
}

.products-list img {
    position:static;
    width: 254px;
    height: 261px;
    left: 325px;
    top: 276px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/* Product, Cart */

.product {
    display: grid;
    grid-template-columns: repeat(2, minmax(0,1fr));
    grid-gap: 20px;
}

.product img {
    position:static;
    width: 254px;
    height: 261px;
    left: 325px;
    top: 276px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

@media (min-width: 1000px) {
    .events_exhibitions {
        flex-direction: row; 
    }

    }